{% extends "base.html" %}

{% block title %} 가천대 관심강의 : GaGwan.com {% endblock %}


{% block content %}


    <div class="col-md-3">
    </div>


    <div class="col-md-6 guide">
        <p class="new-title"><h4>문의하기</h4></p>

        <div style="text-align: center; margin-top: 10%;">
            <h4>문의사항이 생길 경우 </h4>
               <p>1. gagwan.help@gmail.com </p>
            <p><a href="https://www.facebook.com/groups/GaGwan/">페이스북 그룹</a> 에 글을 남겨주세요.</p>
        </div>

        </br>


    </div>
    <div class="col-md-3">

    </div>


{% endblock %}

