{% extends "base.html" %}

{% block title %} 가천대 관심강의 : GaGwan.com 안내 및 사용법{% endblock %}


{% block content %}


    <div class="col-md-3">
    </div>


    <div class="col-md-6 guide">
        <div style="text-align: center">
            <h4>이 사이트는 Chrome, Firefox, Safari에 최적화 되어있습니다.</h4>

            <p>(IE로 접속시 깨짐 현상이 발생할 수 있습니니다.)</p>
        </div>

        </br>

        <h3>가천대 관심강의 (GaGwan.com)</h3>

        <p>가천대 관심강의 사이트는 가천대 학생들의 강의 정보 공유를 통해서 강의 선택에 도움을 주기 위해서 만들었습니다.</p>

        <br/>
        <ol>
            <li>가천대학교 관심강의는 닉네임기반으로 이루어집니다.</li>
            <li>2015년 동안은 베타테스트 기간으로 회원가입 하면 누구나 강의평가를 볼수 있습니다.</li>
        </ol>
        <br/>

        <h4>사용법</h4><br/>

        <ol>
            <li>기본적으로 메인 페이지에서는 가장 최근에 평가된 강의평가 10개가 나옵니다.</li>
            <li>원하시는 강의명이나 교수님 성함으로 검색해 볼수 있습니다.<br>
                (강의평가는 2014년 1학기 강의부터 평가하실 수 있습니다.)</li>
            <li>검색시 강의명 왼쪽에 강의평가 갯수가 표시됩니다.</li>
            <li>한 개의 강의당 강의평가는 한번 할 수 있습니다.</li>
            <li>오른쪽 위 계정 버튼을 클릭하면, 내가 한 강의평가 와 나의 정보를 볼 수 있습니다.</li>
            <li>나의 강의평가에서 내가 기존에 한 강의평가를 수정 및 삭제할 수 있습니다.</li>
            <li>나의 정보에서는 나의정보와 비밀번호 변경이 가능합니다.</li>
        </ol>
        <br/>
        <h4>페이스북 그룹 안내</h4>

        <p> - 페이스북 그룹에 가입하셔서 불편한점이나 기능사항에 대해서 말씀해주세요.</p>
        <p>현재는 강의평가에 대한 기본적인 기능만 있습니다.</p>
        <p>차차, 개선하겠습니다.</p>

        <p><a href="https://www.facebook.com/groups/GaGwan/">https://www.facebook.com/groups/GaGwan/</a></p>

        <br><br><br>
        <p> * 이 사이트를 같이 개선하고 싶으신 디자이너분(가천대생) 계시면 연락주세용 ㅠㅠ</p>
        <p style="margin-bottom: 7%">vins1037@naver.com or <a href="https://www.facebook.com/vins103">페이스북 메세지</a></p>

   </div>

    <div class="col-md-3">
    </div>


{% endblock %}
