{% extends "base.html" %}

{% block title %} 가천대 관심강의 : GaGwan.com {% endblock %}

{% block content %}



    <div class="row account">

        <div class="col-md-3">
           <a href="{{ url_for('main.profile') }}"><strong><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;계정</strong></a>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header"></li>
                <li><a href="{{ url_for('main.reset_password') }}"><i class="glyphicon glyphicon-cog"></i> &nbsp;비밀번호변경 </a></li>
            </ul>
        </div>            

        <div class="col-md-8 profile">
            <form action="{{ url_for('main.reset_password') }}" method="post" name="reset_password">
                <div class="profile-header">
                    <span><h3 class="profile-name">비밀번호변경</h3></span>


                    <span>

                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        {% endwith %}

                    </span>
                </div>
                    <div class="row">
                        
                        <div class="row profile-user">
                            <div class="col-md-3">
                                현재비밀번호 :
                            </div>

                            <div class="col-md-6">
                                {{ form.current_password }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                새로운 비밀번호 :
                            </div>

                            <div class="col-md-6">
                                {{ form.new_password }}
                            </div>
                        </div>

                       
                        
                            <div class="row">
                            <div class="col-md-3">
                                비빌번호 확인 :
                            </div>

                            <div class="col-md-6">
                                {{ form.new_password_confirm }}
                            </div>
                            </div>

                          <div class="row">
                             <div class="col-md-8">
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-default" type="submit">비밀번호 변경</button>
                            </div>

                          </div>


                    </div>
                </form>
        </div>




    </div>

{% endblock %}